
name: CI/CD pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
        postgres:
          image: postgres
          env:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres254
            POSTGRES_DB: ecommerce

          ports:
            - 5432:5432
          options: >-
            --health-cmd="pg_is_ready -U postgres"
            --health-interval = 10s
            --health-timeout=5s
            --health-retries=5
    steps:
      - name: pull git repo
        uses: actions/checkout@v4
        
      - name: set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13.7"
            
      - name: Update pip
        run: python -m pip install pip --upgrade pip

      - name: Install dependencies
        run: |
            pip install -r requirements.txt
      
      - name: Run tests
        run: |
         pytest-v -s --maxfail=1 --disable-warnings
  
  docker-build:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: pull git repo
        uses: actions/checkout@v4
      
      - name: log in to Docker hub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_HUB_USERNAME}}
          password: ${{secrets.DOCKER_HUB_ACCESS_TOKEN}}
      
      - name: build and publish docker image
        uses: docker/build-push-actions@v2
        with:
          context: .
          push: true

          

              
